core_user_registration_app/static/core_user_registration_app/user/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "Resource">
   <xs:complexType>
     <xs:sequence>
         <xs:element name="Username" type="xs:token"/>
         <xs:element name="Email" type="xs:token"/>
         <xs:element name="Website" type="xs:token"/>
         <xs:element name="Organization" type="xs:token"/>
         <xs:element name="Github" type="xs:token"/>
    </xs:sequence>
        <xs:attribute name="status" use="required"/>
  </xs:complexType>
</xs:element>

</xs:schema>
